<center>
<%= form_with scope: :list, url: lists_path, local: true do |form| %>
  <!--BUSCA SI NO SE RELLENARON LOS CAMBIOS-->
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@list.errors.count, "error")%>
        prohibited this article from being saved:
      </h2>
      <ul>
        <!--MENSAJE DE ERRORES ENCONTRADOS-->
        <% @list.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', lists_path %>
</center>
